/* index.html */
    /* header */
    .header {background: #FBFAFF; position: sticky; top: 0;z-index: 1000;}
    .header__wrapper {max-width: var(--second-width); width: 100%; display: flex; align-items: center; justify-content: space-between; margin-left: auto;margin-right: auto; padding: 20px; position: relative;}
        /* header.contact */
        .header__ctaMail {display: flex; align-items: center; gap: 10px;}
            .header__ctaMailIcon {border: 1px solid var(--pattern-color); width: 46px; height: 46px; border-radius: 50%; transition: border-color 0.3s; display: flex; align-items: center;justify-content: center;}
            .header__email {font-weight: 500;font-size: 2.2rem;color: var(--title-color); text-decoration: underline; transition: color .3s;}
        .header__ctaMail:hover .header__ctaMailIcon {border-color: var(--bg-1);}
        .header__ctaMail:hover .header__email{color: var(--bg-1);}

        /* header.brand */
        .header__logo {width: 75px;height: 75px;background: url(./assets/img/general/icon/brand.png) center/cover no-repeat; transition: transform .3s; position: absolute; left: 50%; transform: translateX(-50%); margin-top: 20px;margin-bottom: 20px;}
        .header__logo:hover {transform: translateX(-50%) scale(1.1);}

        /* header.navbar */
        .header__navbar ul {display: flex; align-items: center; gap: 40px;}
            .header__navbar a {transition: color .3s, font-weight .3s; display: inline-block; position: relative; transform: translateX(2px);}
            .header__navbar a::before {display: block;content: attr(title);font-weight: bold;height: 0;overflow: hidden;visibility: hidden; padding: 2px 3px;}
            .header__navbar a::after {content: ''; width: calc(100% - 4px); height: 2px;border-radius: 1px; background: var(--bg-1); position: absolute; bottom: -10px; left: 0; transform: scaleX(0); transition: transform .3s; }
            .header__navbar a:hover {color: var(--bg-1); font-weight: 700;}
            .header__navbar a:hover::after {transform: scaleX(1);}
    
    /* section.hero */
    .hero {background: var(--bg-2); height: calc(100vh - 86px); position: relative; max-height: 869px;min-height: 650px;overflow: hidden;}
        /* section.hero.backgrounds */
        .hero__bg {height: 100%; position: absolute; top: 0;left: 50%; transform: translateX(-50%);  }
            .hero__bg img:first-child {position: absolute; bottom: -117px; left: -270px; }
            .hero__bg img:last-child {position: absolute; bottom: 0; right: -36px; }
        /* section.hero.information */
        .hero__main {z-index: 11; position: relative; height: 100%;}
        .hero__wrapper {height: 100%; width: 100%; }
            /* hero.figure */
            .hero__author {position: relative;width: 100%; height: 100%;}
            .hero__author img {position: absolute; bottom: 0; width: calc(100% + 60px) ;height: 100%; object-fit: contain; object-position: center bottom;}
            /* hero.information */
            .hero__introduction {align-self: flex-end; padding-top: 38px;padding-bottom: 38px;margin-left: -30px;} .hero__introductionCol {display: flex;}
                .hero__desc {margin-right: 130px; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden;}
                .hero__cta {margin-top: 50px;margin-bottom: 104px; display: flex; align-items: center;gap: 30px;}
                    
                .hero__snsList {display: flex;align-items: center;gap: 15px; }
                    .hero__snsList span {font-size: 1.6rem; font-weight: 500;}
                    .hero__snsWrap {display: flex; gap: 20px;}
                        .hero__sns {display: flex; align-items: center; justify-content: center; width: 40px;height: 40px;border-radius: 50%; border: 1px solid rgba(8 4 21 / 0.1); transition: border-color .3s, background .3s, color .3s; color: var(--title-color);}
                        .hero__sns:hover {border-color: var(--title-color); background: var(--title-color); color: #fff;}
    
    /* main/company */
    .company__wrapper {display: flex; gap: 105px; align-items: flex-end;}
        .company__intro {display: grid; align-items: flex-start; flex-shrink: 0; grid-template-columns: 86px 1fr; gap: 13px;}
            .company__title {font-size: 4.2rem; max-width: 253px; margin-bottom: 0;}
            .company__sep {content: ''; display: inline-block; width: 100%; height: 2px; background: var(--bg-1); margin-right: 13px; margin-top: 22px;}

        .company__list {display: flex; flex-wrap: wrap; gap: 36px; justify-content: space-between;}
            .company {display: flex; align-items: center; gap: 13px;}
    /* main/services / sv */
        .services__title {text-align: center;margin-left: auto;margin-right: auto;} 
        .services__desc {text-align: center; max-width: 534px; margin-left: auto;margin-right: auto; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: hidden;}
        .services__list {margin-top: 60px;}
            .services__sv {background: var(--bg-2); padding: 33px 43px; transition: background-color .3s;}
            .services__sv:hover {background: var(--bg-1);}
            .services__sv:hover .services__avatar {border-color: #fff; background: #fff;}
            .services__sv:hover * {color: #fff;}
            .services__sv:hover .services__svName:hover{color: var(--title-color);}
                .services__avatar {width: 74px; height: 74px;border-radius: 50%; border: 1px solid rgba(8 4 26 / .05); display: flex; align-items: center; justify-content: center; margin-bottom: 22px;}
                .services__svName {margin-bottom: 15px;display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient:vertical; overflow: hidden;}
                .services__svDesc {display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden;}
    /* main/projects / pj */
    .projects {background: var(--bg-1); padding-top: 86px; padding-bottom: 86px;}
        .pj__heading {width: 100%; display: flex; align-items: flex-end; gap: 160px; margin-bottom: 70px;}
            .pj__title {color: #fff; margin-bottom: 0; width: 468px;letter-spacing: -2.24px;}
            .pj__desc {margin-bottom: 11px; color: #fff; opacity: 0.7; max-width: 370px; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden;}
        .pj__list {margin-bottom: 80px;} .pj__listGrid {row-gap: 30px;}
            /* project's item */
            .pj__item {padding: 24px; background: var(--bg-2); position: relative;}
                .pj__item-bg {position: absolute; width: 100%; height: 100%; top: 0; left: 0; transition: background-color .3s;}
                    .pj__pattern {width: 100%; height: 100%; background: url(./assets/img/general/pattern/pj.svg) right center / contain no-repeat;}
                .pj__information {display: flex; align-items: center; gap: 47px; position: relative; z-index: 1;}
                    .pj__text {display: block;}
                        .pj__project-name {margin-bottom: 10px;}
                        .pj__project-desc {font-size: 1.6rem; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient:vertical; overflow: hidden; margin-bottom: 20px;}
                    .pj__figure {flex: 1 0 47%} .pj__figure img {width: 100%; height: 100%; object-fit: contain;}
            .pj__item:hover .pj__item-bg{background: #5d3bee63;}
        .pj__cta {margin-left: auto;margin-right: auto; display: block;}
                