/* index.html */
    /* header */
    .header {background: #FBFAFF; position: sticky; top: 0;z-index: 1000;}
    .header__wrapper {max-width: var(--second-width); width: 100%; display: flex; align-items: center; justify-content: space-between; margin-left: auto;margin-right: auto; padding: 20px; position: relative;}
        /* header.contact */
        .header__ctaMail {display: flex; align-items: center; gap: 10px;}
            .header__ctaMailIcon {border: 1px solid var(--pattern-color); width: 46px; height: 46px; border-radius: 50%; transition: border-color 0.3s; display: flex; align-items: center;justify-content: center;}
            .header__email {font-weight: 500;font-size: 2.2rem;color: var(--title-color); text-decoration: underline; transition: color .3s;}
        .header__ctaMail:hover .header__ctaMailIcon {border-color: var(--bg-1);}
        .header__ctaMail:hover .header__email{color: var(--bg-1);}

        /* header.brand */
        .header__logo {width: 100px;height: 100px;background: url(./assets/img/general/icon/brand.png) center/cover no-repeat; transition: transform .3s; position: absolute; left: 50%; transform: translateX(-50%);}
        .header__logo:hover {transform: translateX(-50%) scale(1.1);}

        /* header.navbar */
        .header__navbar ul {display: flex; align-items: center; gap: 40px;}
            .header__navbar a {transition: color .3s, font-weight .3s; display: inline-block; position: relative; transform: translateX(2px);}
            .header__navbar a::before {display: block;content: attr(title);font-weight: bold;height: 0;overflow: hidden;visibility: hidden; padding: 2px 3px;}
            .header__navbar a::after {content: ''; width: calc(100% - 4px); height: 2px;border-radius: 1px; background: var(--bg-1); position: absolute; bottom: -10px; left: 0; transform: scaleX(0); transition: transform .3s; }
            .header__navbar a:hover {color: var(--bg-1); font-weight: 700;}
            .header__navbar a:hover::after {transform: scaleX(1);}
    
    /* section.hero */
    .hero {background: var(--bg-2); height: calc(100vh - 109px); position: relative; max-height: 869px;min-height: 650px;overflow: hidden;}
        /* section.hero.backgrounds */
        .hero__bg {height: 100%; position: absolute; top: 0;left: 50%; transform: translateX(-50%);  }
            .hero__bg img:first-child {position: absolute; bottom: -117px; left: -270px; }
            .hero__bg img:last-child {position: absolute; bottom: 0; right: -36px; }
        /* section.hero.information */
        .hero__main {z-index: 11; position: relative; height: 100%;}
        .hero__wrapper {height: 100%; width: 100%; }
            /* hero.figure */
            .hero__author {position: relative;width: 100%; height: 100%;}
            .hero__author img {position: absolute; bottom: 0; width: calc(100% + 60px) ;height: 100%; object-fit: contain; object-position: center bottom;}
            /* hero.information */
            .hero__introduction {align-self: flex-end; padding-top: 38px;padding-bottom: 38px;margin-left: -30px;} .hero__introductionCol {display: flex;}
                .hero__desc {margin-right: 130px; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient:vertical; overflow: hidden;}
                .hero__cta {margin-top: 50px;margin-bottom: 104px; display: flex; align-items: center;gap: 30px;}
                    .hero__href {font-weight: 700; display: inline-block; position: relative;}
                    .hero__href::after {content: ''; display: block; position: absolute; bottom: -5px;left: 0; width: 100%;height: 2px; background: var(--title-color); transition: transform .3s; transform: scaleX(0); transform-origin: left center;}
                    .hero__href:hover::after {transform: scaleX(1);}
                .hero__snsList {display: flex;align-items: center;gap: 15px; }
                    .hero__snsList span {font-size: 1.6rem; font-weight: 500;}
                    .hero__snsWrap {display: flex; gap: 20px;}
                        .hero__sns {display: flex; align-items: center; justify-content: center; width: 40px;height: 40px;border-radius: 50%; border: 1px solid rgba(8 4 21 / 0.1); transition: border-color .3s, background .3s, color .3s; color: var(--title-color);}
                        .hero__sns:hover {border-color: var(--title-color); background: var(--title-color); color: #fff;}
