:root {
    --normal-font: "DM Sans", sans-serif;
    --normal-color: #51586A;
    --title-color: #080415;
    --bg-1: #5D3BEE;
    --bg-2: #FBFAFF;
    --pattern-color: #5c3bee2b;
    --main-width: 1170px;
    --second-width: 1330px;
}

::selection{
    color: #1e1252; background: #7d62f82b;
}
::-webkit-scrollbar {background: rgba(0,0,0,0); width: 14px;}
::-webkit-scrollbar-thumb {background: var(--bg-1); width: 6px; background-clip: padding-box; border: 4px solid #00000000; border-radius: 100px;}

*, ::before, ::after {box-sizing: border-box;}
html {font-size: 62.5%;}
html,body {scroll-behavior: smooth;}
a {text-decoration: none;}
ul {list-style-type: none; padding: 0; margin: 0;text-indent: 0;}

body {
    color: var(--normal-text); font-size: 1.8rem; font-family: var(--normal-font); font-weight: 400;
}

input, button {
    outline: none; padding: 0;margin: 0;border: 0;
    color: inherit; font-size: inherit; font-family: inherit; font-weight: inherit;
    min-width: 0;
}

input[type="button"],button {
    cursor: pointer;
}

a, i {
    text-decoration: none; color: inherit; 
}


/* headings */

/* page */
    
/* common selectors */
    /* content margin */
    
    /* tabs */
    
    /* logo brand */
    
    /* navigations */
    
    /* selections for tabs */
    
    /* buttons */
        
        
