:root {
    --normal-font: "DM Sans", sans-serif;
    --normal-color: #51586A;
    --title-color: #080415;
    --bg-1: #5D3BEE;
    --bg-2: #FBFAFF;
    --pattern-color: #5c3bee2b;
    --main-width: 1170px;
    --second-width: 1330px;
}

::selection{
    color: #1e1252; background: #7d62f82b;
}
::-webkit-scrollbar {background: rgba(0,0,0,0); width: 14px;}
::-webkit-scrollbar-thumb {background: var(--bg-1); width: 6px; background-clip: padding-box; border: 4px solid #00000000; border-radius: 100px;}

*, ::before, ::after {box-sizing: border-box;}
html {font-size: 62.5%;}
html,body {scroll-behavior: smooth;}
a {text-decoration: none;}
ul {list-style-type: none; padding: 0; margin: 0;text-indent: 0;}

body {
    color: var(--normal-color); font-size: 1.8rem; font-family: var(--normal-font); font-weight: 400;
}

input, button {
    outline: none; padding: 0;margin: 0;border: 0;
    color: inherit; font-size: inherit; font-family: inherit; font-weight: inherit;
    min-width: 0;
}
figure {margin: 0;}
input[type="button"],button {
    cursor: pointer;
}

a, i {
    text-decoration: none; color: inherit; 
}
input[type="checkbox"] {display: none;}

/* headings */
h1,h2,h3,p {margin: 0;padding: 0;}
h1,h2,h3 {color: var(--title-color);font-weight: 500;}
h1,h2 {margin-bottom: 20px;}
h1 {letter-spacing: -3.2px;font-size: 8rem;line-height: 0.95; }
h2 {letter-spacing: -1.68px;font-size: 5.6rem;line-height: 1.2;}
h3 {letter-spacing: -1.28px;font-size: 3.2rem;line-height: 1.25;}
p {line-height: 1.7;}

.pseudo {display: flex; align-items: center; gap: 9px; color: var(--bg-1); font-size: 3.2rem; letter-spacing: -1.28px; font-weight: 500; line-height: 1.25;}
/* page */
    
/* common selectors */
    /* content margin */
    .common-section {margin-top: 140px;margin-bottom: 140px;}
    /* tabs */
    
    /* logo brand */
    
    /* navigations */
    .bars {display: flex; gap: 15px; align-items: center; justify-content: center;}
    .pack {width: 16px; height: 16px; border-radius: 50%; background: var(--title-color); opacity: .2; transition: opacity .3s;}
    .pack:hover {opacity: 1;}
    .pack--selected {width: 20px;height: 20px;border-radius: 50%; display: flex; align-items: center; justify-content: center; border: 1px solid var(--bg-1); opacity: 1; background: transparent;}
    .pack--selected::after {content: ''; display: block; width: 12px;height: 12px; border-radius: 50%; background: var(--bg-1);}
    /* selections for tabs */
    
    /* buttons */
    .button {padding: 16px 37px; transition: color .3s, background .3s, border-color .3s; cursor: pointer; border: 3px solid transparent; font-weight: 700;}
    .button1 {color: #FDFDFD; background: var(--bg-1);}
    .button1:hover {color: var(--bg-1); background: #FDFDFD; border-color: var(--bg-1);}
    .button2 {background: #fff; color: var(--title-color);}
    .button2:hover {color: #fff; background: var(--title-color); border-color: #fff}
    /* href */
    .href {font-weight: 700; display: inline-block; position: relative;color: var(--title-color);}
        .href::after {content: ''; display: block; position: absolute; bottom: -5px;left: 0; width: 100%;height: 3px; background: var(--title-color); transition: transform .3s; transform: scaleX(0); transform-origin: left center;}
        .href:hover::after {transform: scaleX(1);}
