:root {
    --normal-font: "DM Sans", sans-serif;
    --normal-color: #51586A;
    --title-color: #080415;
    --bg-1: #5D3BEE;
    --bg-2: #FBFAFF;
    --pattern-color: #5c3bee2b;
    --main-width: 1170px;
    --second-width: 1330px;
}

::selection{
    color: #1e1252; background: #7d62f82b;
}
::-webkit-scrollbar {background: rgba(0,0,0,0); width: 14px;}
::-webkit-scrollbar-thumb {background: var(--bg-1); width: 6px; background-clip: padding-box; border: 4px solid #00000000; border-radius: 100px;}

*, ::before, ::after {box-sizing: border-box;}
html {font-size: 62.5%;}
html,body {scroll-behavior: smooth;}
a {text-decoration: none;}
ul {list-style-type: none; padding: 0; margin: 0;text-indent: 0;}

body {
    color: var(--normal-text); font-size: 1.8rem; font-family: var(--normal-font); font-weight: 400;
}

input, button {
    outline: none; padding: 0;margin: 0;border: 0;
    color: inherit; font-size: inherit; font-family: inherit; font-weight: inherit;
    min-width: 0;
}
figure {margin: 0;}
input[type="button"],button {
    cursor: pointer;
}

a, i {
    text-decoration: none; color: inherit; 
}


/* headings */
h1,h2,h3,p {margin: 0;padding: 0;}
h1,h2,h3 {color: var(--title-color);font-weight: 500;}
h1,h2 {margin-bottom: 20px;}
h1 {letter-spacing: -3.2px;font-size: 8rem;line-height: 0.95; }
h2 {letter-spacing: -1.68px;font-size: 5.6rem;line-height: 1.2;}
p {line-height: 1.7;}
/* page */
    
/* common selectors */
    /* content margin */
    .common-section {margin-top: 140px;margin-bottom: 140px;}
    /* tabs */
    
    /* logo brand */
    
    /* navigations */
    
    /* selections for tabs */
    
    /* buttons */
    .button {padding: 16px 37px; transition: color .3s, background .3s, border-color .3s; cursor: pointer; border: 3px solid transparent; font-weight: 700;}
    .button1 {color: #FDFDFD; background: var(--bg-1);}
    .button1:hover {color: var(--bg-1); background: #FDFDFD; border-color: var(--bg-1);}
    .button2 {background: #fff; color: var(--title-color);}
    .button2:hover {color: #fff; background: var(--title-color); border-color: #fff}
        
